/* External CSS styles */

/* Set global styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Set the background color for the body */
}

/* Dark mode styles for container */
.dark-mode .container {
    background-color: #404040;
    color: #f4f4f4;
    /* Adjust other styles for dark mode if needed */
}

/* Dark mode styles for main */
.dark-mode main{
    background-color: #333;
    color: #f4f4f4;
}

/* Dark mode styles for body */
.dark-mode body{
    background-color: #333;
}

/* Styles for menu toggle */
.menu-toggle span {
    display: block;
    width: 30px;
    height: 5px;
    background: #f4f4f4; /* Change this background color to your desired color */
    margin: 5px auto;
    transition: all 2s ease-in-out;
    color: #333; /* If necessary, use color property */
}

/* Styles for container */
.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4; /* Set the background color for the container */
}

/* Styles for heading */
h1 {
    margin: 0;
}

/* Styles for navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Stretch items vertically to fill available space */
}

/* Styles for main content */
main {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 960px;
    margin: 0 auto;
}

/* Styles for menu */
.menu {
    display: none;
}

/* Styles for menu list */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styles for menu list items */
.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Styles for menu links */
.menu ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles for active menu */
.menu.is-active {
    display: block;
}

/* Styles for header */
header {
    background-color: #171717;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays on top of other content */
}

/* Styles for footer */
footer {
    background-color: #171717;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/* Styles for navigation links */
nav a {
    color: #fff; /* Set link color */
    text-decoration: none; /* Remove underlines */
    padding: 10px 20px; /* Add padding for better spacing */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    display: flex;
    align-items: center; /* Center link content vertically */
    height: 100%; /* Set height to 100% to fill available vertical space */
    border-radius: 5px;
}

/* Styles for navigation links on hover */
nav a:hover {
    background-color: rgba(255, 255, 255, 0.333); /* Add background color on hover */
    font-weight: bolder;
}

/* Styles for navigation links on active state */
nav a:active{
    background-color: rgba(255, 255, 255, 0.666);
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    font-size: 10px;
    position: relative;
    height: 3.5em;
    width: 7em;
    border: 0px solid transparent;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
  }
  
  .sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
  }
/* Common styles for both light and dark modes */
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }
        th {
            padding: 10px;
            text-align: left;
            border-bottom: 2px solid #ddd;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        tr:hover {
            background-color: #e9e9e9;
        }

        /* Light mode styles */
        body {
            background-color: #f4f4f4;
            color: #333;
        }
        th {
            background-color: #f2f2f2;
        }

        /* Dark mode styles */
        .dark-mode body {
            background-color: #333;
            color: #f4f4f4;
        }
        .dark-mode th {
            background-color: #171717;
            color: #fff;
        }
        .dark-mode tr:nth-child(even) {
            background-color: #272727;
        }
        .dark-mode tr:hover {
            background-color: #222222;
        }
/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px 15px;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    .menu.is-active {
        display: block;
    }
    .menu-toggle input {
        display: none;
    }
    .menu-toggle span {
        display: block;
        width: 30px;
        height: 5px;
        background: #fff;
        margin: 5px auto;
        transition: all 2s ease-in-out;
    }
    .menu-toggle input:checked ~ .menu {
        display: block;
    }
    .menu-toggle input:checked ~ span:nth-of-type(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .menu-toggle input:checked ~ span:nth-of-type(2) {
        opacity: 0;
    }
    .menu-toggle input:checked ~ span:nth-of-type(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
